@{
    ViewBag.Title = "Home Page - Backend2";
}
<h2>Form parameters parsing demo</h2>
<ul>
    <li><a href="~/Home/Manual">Manual parsing in single action</a></li>
    <li><a href="~/Home/ManualWithSeparateHandlers">Manual parsing in separate action</a></li>
    <li><a href="~/Home/ModelBindingInParameters">Model binding (parameters)</a></li>
    <li><a href="~/Home/ModelBindingInSeparateModel">Model binding (separate model)</a></li>
</ul>
